.info-modal{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-modal-container{
    width: 672px;
    height: 470px;
    border-radius: 1px;
    border-width: 0px !important;
    background-color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info-modal-icon{
    width: 231px;
    height: 219px;
    margin-left: 224px;
    margin-top: 36px;
}
.info-modal-title{
    height: 33px;
    font-size: 28px;
    font-weight: bold;
    color: #011d39;
    padding-top:39px;
}
.info-modal-subtitle{
    padding-top:50px;
    width: 451px;
    height: 78px;
    font-size: 16px;
    line-height: 1.63;
    color: #43536a;
    align-self: center;
}
.info-modal-additional-subtitle{
    position:relative;
    top:40px;
    font-size: 18px;
    font-weight: bold;
    color: darkred;
}
