.input-field-base,input-field-dropdown{
    display: flex;
    flex-direction: column;
}
.input-field-label{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #797676;
    padding-bottom:4px;
    text-transform: uppercase;
}
.input-field-content{
    width: 292px;
    height: 47px;
    border-radius: 5px;
    font-size: 16px;
    color: #282e34;
    border: solid 2px #bcbaba;
    padding-left:12px;
    text-align: left;
    box-sizing:border-box;
}
.input-field-content-error{
    border-radius: 4px;
    border: solid 2px #d0021b !important;
    width: 292px;
    height: 47px;
    font-size: 16px;
    color: #282e34;
    padding-left:12px;
    text-align: left;
    box-sizing:border-box;
    outline-color: #d0021b;
}
.input-field-feedback{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #d0021b;
}
.input-field-dropdown-icon{
    float:right;
    padding-top:2px;
}
.input-field-dropdown-menu{
    width: 292px;
    border-radius: 4px;
    border: solid 2px #bcbaba;
    background-color: white;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    margin-top:2px;
}
.input-field-dropdown-menu-item{
    height: 31px;
    box-sizing:border-box;
    font-size: 16px;
    padding: 7px 11px 5px 16px;
    color: #282e34;
    text-decoration: none;
    width:100%;
    border-bottom: 1px #e0e0f0 solid;
}
.input-field-dropdown-menu-item:hover{
    height: 31px;
    width:100%;
    box-sizing:border-box;
    font-size: 16px;
    padding: 7px 11px 5px 16px;
    color: white;
    background-color: #4a90e2;
    text-decoration: none;
}
