.edit-user{
    display: flex;
    flex-direction:column;
    height:100vh;
}
.edit-user-title,.edit-user-panel-title{
    height: 49px;
    margin-top:25px;
    padding-left: 32px;
    border-bottom: 1px #e6eaee solid;
    display: flex;
}
.edit-user-icon{
    width: 20px;
    height: 20px;
}
.edit-user-title-text{
    width: 1076px;
    height: 28px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    color:#797676;
    flex-grow: 1;
    margin-top:-4px;
    margin-left:5px;
}
.edit-user-save-btn,.edit-user-remove-btn{
    width: 120px;
    height: 36px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    background-color: #397cca;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    color: white;
    margin-right:31.5px;
}
.edit-user-save-btn-loading{
    width: 120px;
    height: 36px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    background-color: #8fbaec;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    color: white;
    margin-right:31.5px;
}
.edit-user-submit-loading{
    position:relative;
    left:-100px;
    top:5px;
}
.edit-user-content{
    background-color: #fbfbfb;
    width:100%;
}
.edit-user-panel{
    background-color: white;
    margin:30px;
    border:1px #f0f0f0 solid;
    border-radius: 5px;
}
.edit-user-panel-title-text{
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #3e3f42;
    flex-grow: 1;
}




